// app global css in SCSS form

body {
  background-color: #252525;
  // font-family: "Prompt", sans-serif;
  color: #ffffff;
}
.mainApp {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
.brx {
  border: 1px solid red;
}
